* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#center {
    max-width: 1100px;
    margin:0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

.menu-mobile{
    display: none;
}


body {
    margin: 0%;
    padding: 0%;
    background-color: #191919;
}


#thisheader {
    position: relative;
    background-color: #191919;
    padding: 20px 0;
}


#logo {
    display: flex;
    flex-wrap: wrap;
    color: #00adb5;
    font-weight: normal;
}


#logo img{
    width: 100%;
    max-width: 100px;
}

div#logo > img{
    width: 100%;
    max-width: 200px;
    border-radius: 0;
    cursor: pointer;
}


#menu{
    width: 70%;
    text-align: right;
}

#menu a{
    color: #fff ;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    transition: 0.3s;
}

#menu a:hover{
    color: #01dde9;
}

#menu #btn-menu{
    background-color:#00adb5 ;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 5px;
}

#menu #btn-menu:hover{
    background-color: #01dde9;
    color: #414040;
}

    /* header */

    /* section */
/* POPUP */
    #popup{
        display: none;
        width: 31.3rem;
        border-radius: 10px;
        padding: 2rem 20px;
        position:absolute;
        margin: 0 31vw;
        background-color: #00888f;
    }
    #popup h3{
        margin: 10px 10px;
        color: white;
        font-size: 1.5rem;
    }
    #popup h4{
        margin: 10px 10px;
        color:#001011;
        font-size: 1.2rem;
        text-align: center;
    }
    #popup p {
        color: #01dde9;
        margin: 10px 10px;
        font-weight: bold;
        font-size: 1.2rem;
    }
    #popup p span {
        background-color: #01dde9;
        font-weight: bold;
        font-size: 1rem;
    }
    #popup button {
        
        border: none;
        background: #007bff;
    color: white;
    cursor: pointer;
    margin: 10px 15%;
    width: 70%;
        padding: 5px 10px;
        font-size: 1rem;
        transition: 300ms;
    }
    #popup button:hover{
        padding: 10px 10px;
        background-color: #191919;
    }
    /* --------------------------- */
.main{
    
    background-image: linear-gradient(rgba(4, 97, 238, 0.1), rgba(4,97,238,0.1)),  url(../images/banner-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 0 auto;
}

.diferenciais-plano{
        border-radius: 2px;
        outline: 2px solid gray;
        outline-width: 46%;
        width: 46%;
        margin: 10px 0;
        margin-right: 2%;
        margin-left: 2%;
        padding: 25px 10px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
}

.diferenciais-plano h2{
    text-transform: uppercase;
}

.diferenciais-plano .text_plano{
    width: 100%;
    text-align: center;
}

.diferenciais-plano .preco_plano{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.select_plano {
    margin-top: 50px;
}

.diferencial-plano{
    display: flex;
    flex-wrap: wrap;  
}



.main_pag{
 
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    border-radius: 10px;
}

.main_form{
    margin-bottom: 10px;
}

i.visaForm,
i.masterForm,
i.amazonForm,
i.jcbForm{
    width: 15%;
    margin-right: 10%;
    margin: 10px 0;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
}


.visaForm:hover{
    width: 20%;
    margin-right: 5%;
    margin: 10px 0;
    font-size: 70px;
    transition: 0.5s;
}

.amazonForm:hover{
    width: 20%;
    margin-right: 5%;
    margin: 10px 0;
    font-size: 70px;
    transition: 0.5s;
}

.masterForm:hover{
    width: 20%;
    margin-right: 5%;
    margin: 10px 0;
    font-size: 70px;
    transition: 0.5s;
}

.jcbForm:hover{
    width: 20%;
    margin-right: 5%;
    margin: 10px 0;
    font-size: 70px;
    transition: 0.5s;
}

.main_form h2{
    padding: 10px;
    text-transform: uppercase;
    margin: 10px 0;
    font-size: 28px;
}
form .input-main{
    width: 94%;
    margin: 0 auto;
    height: 45px;
    border: 1px solid black;
    padding: 10px 10px;
}

form .input-main-cpf{
    width: 58%;
    margin: 0 auto;
    height: 45px;
    border: 1px solid black;
    padding: 10px 10px;
}

form .input-main-cvc{
    margin: 10px auto;
    height: 45px;
    border: 1px solid black;
    padding: 0 10px;
}

form .input-main-nome{
    width: 72%;
    margin: 0 auto;
    margin-left: 1%;
    height: 45px;
    border: 1px solid black;
    padding: 0 10px;
}

form .input-main-data{
    width: 22%;
    margin: 0 auto;
    margin-right: 1%;
    height: 45px;
    border: 1px solid black;
    padding: 0 10px;
}

form input[type = button]{
    width: 70%;
    border: 0;
    padding: 10px;
    background: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    transition: 0.5s;
}

form input[type = button]:hover{
    transition: 0.5s;
    background-color: #191919;
    color: white;
    padding: 15px;
    width: 80%;
}

/* segunda section */

.diferenciais{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 40px auto;
}

.diferencial-single{
    width: 29%;
    margin-right: 2%;
    margin-left: 2%;
    text-align: center;
}

i.downForm{
    font-size: 40px;
    color: #00adb5;
}

i.estrela{
    font-size: 25px;
    padding: 10px;
    color: #00adb5;
}

i.cadastrados{
    font-size: 40px;
    color: #00adb5;
}


.diferencial-single h2{
    font-size: 30px;
    color: #00adb5;
}

.menu-items{
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #00adb5;
    display: block;
    opacity: 0;
    transition: 0.25s;
}

.menu-items.show{
    opacity: 1;
}

.menu-items.hidden{
    opacity: 0;
}

.menu-items a{
    display: block;
    text-decoration: none;
    color: #191919;
    font-size: 16px;
    margin: 10px 0;
}

a.mobile-home:hover {
    transition: 0.4s;
    padding: 5px;
    background-color: #222329;
    color: white;
}
a.mobile-download:hover {
    transition: 0.4s;
    padding: 5px;
    background-color: #222329;
    color: white;
}
a.mobile-compra:hover {
    transition: 0.4s;
    padding: 5px;
    background-color: #222329;
    color: white;
}

@media screen and (max-width: 768px) {
    .diferencial-single{
        width: 100%;
        margin: 100px auto;
    }

    #logo{ width: 50%;
    }

    .menu-mobile{
        transition: 0.25s;
        width: 50%;
        text-align: right;
        display: block;
    }

    .menu-mobile i{
    cursor: pointer;
    font-size: 23px;
    margin-top: 8px;
    color: white;        
    }

    #menu{display: none}

    i.visaForm,
    i.masterForm,
    i.amazonForm,
    i.jcbForm{
        width: 25%;
    }

    form .input-main-cpf{
        width: 94%;
        margin: 5px auto;
        height: 45px;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid black;
        padding: 10px 10px;
    }
    
    form .input-main-cvc{
        width: 94%;
        margin: 5px auto;
        height: 45px;
        margin-left: 3%;
        margin-right: 3%;
        border: 1px solid black;
        padding: 10px 10px;
    }

    form input[type = button]{
        width: 94%;
        border: 0;
        padding: 10px;
        background: #007bff;
        color: white;
        cursor: pointer;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 10px;
        transition: 0.5s;
    }

}
